<section id="all_Users">
  <% @users.each do |user| %>
    <div class="userInfo">
      <div class="user_photo"><%= user.photo %></div>
      <div class="badge">
        <h1 class="userName"><%= user.name %></h1>
        <div class="badge_nums">
          <h3 class="postCount">
          Number of posts: <%= user.posts_counter %>
        </h3>
        <p class="viewUser">
          <%= link_to "View Profile", user_path(user.id) %>
        </p>
        </div>
        
      </div>
    </div>
    <br>
    <br>
  <% end %>
</section>
